body {
    background: radial-gradient(
        circle at top,
        #f5d547 0%,
        #c8102e 45%,
        #111111 85%
    );
    margin: 0;
    height: 100vh;
}

.texto_cabecalho {
    color: white;
    font-size: large;
}

.texto-branco {
    color: white;
}